<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> - 
    <a href="{% url 'learning_logs:rules' %}">Rules</a> - 
    {% if user.is_authenticated %}
       Hello, {{ user.username }}.
       <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
       <a href="{% url 'users:login' %}">log in</a> -
       <a href="{% url 'users:register' %}">Register</a> 
    {% endif %}
    </p>
    {% block content %} {% endblock content %}